<app-navbar>
</app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">UserID</th>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of todo">
                    <th>{{i.userId}}</th>
                    <td>{{i.id}}</td>
                    <td>{{i.title}}</td>
                    <td>{{i.completed}}</td>
                  </tr>
                  <tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

